[Desktop Entry]
Type=Application
Name=ARGVUS System Monitor
Name[pt_BR]=Monitor do Sistema ARGVUS
GenericName=System Monitor
GenericName[pt_BR]=Monitor do sistema
Comment=btop system monitor configured for ARGVUS
Comment[pt_BR]=Monitor do sistema btop configurado para o ARGVUS
Icon=utilities-system-monitor
Exec=argvus-tui-terminal --class argvus-system-monitor --term kitty --profile control-center -- argvus-system-monitor
Terminal=false
Categories=System;Monitor;ConsoleOnly;
Keywords=system;monitor;btop;argvus;
StartupNotify=false
